################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClientApp/DesignTimeBuild/.dtbcache.v2
/.vs/ClientApp/FileContentIndex
/.vs/ClientApp/v17/TestStore/0
/.vs/ClientApp/v17
/.vs/MauiControls/v17
/ClientApp/bin/Debug
/ClientApp/obj
